<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events</h1>

<div id="admin_events">
  <% @admin_events.each do |admin_event| %>
    <%= render admin_event %>
    <p>
      <%= link_to "Show this event", admin_event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_admin_event_path %>
