<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= tag.slug %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= tag.is_active %>
  </p>

</div>
