<p style="color: green"><%= notice %></p>

<% content_for :title, "Tags" %>

<h1>Tags</h1>

<div id="admin_tags">
  <% @admin_tags.each do |admin_tag| %>
    <%= render admin_tag %>
    <p>
      <%= link_to "Show this tag", admin_tag %>
    </p>
  <% end %>
</div>

<%= link_to "New tag", new_admin_tag_path %>
